@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html:has(dialog[open]) {
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-reduced-motion: no-preference) {
  dialog {
    opacity: 0;
    transform: scale(0.9);
  }

  dialog.showing {
    animation: slideInUp 0.3s ease-out forwards;
  }

  dialog.closing {
    animation: scaleDown 0.3s ease-in forwards;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
